@page
@model carlos.Pages.UploadSuccessModel
@{
}


<div class="row">
    <div class="col-6">
        <img src="https://apen.es/wp-content/uploads/2020/11/logo-microsoft-excel.jpg" height="500rem"/>
    </div>
    <div class="col-6">
        <img src="https://blog.powerdata.es/hubfs/images/gestor%20de%20bases%20de%20datos.jpg" height="500rem" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Archivo subido y almacenado exitosamente!</h2>
    </div>
</div>